

.greetScreen{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoBox{
  margin-top: 100px;
  position: relative;
}

.kodi{
  position:absolute;
  left:224px;
  top:-60px;
  transform: rotate(-30deg);

}

.logo{
  width: 600px;
  position: relative;
}


button{
  width: 160px;
  color: white;
  background-color: #0073BC;
  border: 3px solid #73B9E5;
  padding: 8px;
  border-radius: 20px;

}
